.footer{
    width:480px;
    margin:10px auto;
}
.footer a{
    display:inline-block;
    width:100px;
    height:30px;
    background-color: orangered;
    text-align: center;
    line-height:30px;
    font-size:12px;
}